# Templates
templates/

# LaTeX build artifacts
*.aux
*.log
*.toc
*.lof
*.lot
*.out
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.pdf

# BasicTeX/MacTeX cache
.texpadtmp

# Other common LaTeX temp/build files
*.dvi
*.ps
*.svg
*.fig
*.loa
*.nav
*.snm
*.vrb
*.run.xml
*.bcf
*.xml
*.synctex(busy)